<div class="div-window-bar" style="text-align:center">
    <div class="drag-window" style="text-align:center">
        <!--<mat-icon fontSet="iconfont" fontIcon = "icon-view-list-o"></mat-icon>-->
        <h1>
            {{title}}
        </h1>

        <!--<i class="material-icons">close</i>-->
    </div>


    <div class="div-win-control">
        <button id="btn-win-min" mat-icon-button (click)="windowMin()" title="最小化">
            <mat-icon fontSet="iconfont" fontIcon = "icon-dingwei_zuixiaohua"></mat-icon>
        </button>

        <button id="btn-win-max" mat-icon-button (click)="windowMax()" title='{{isMaximize?"恢复":"最大化"}}'>
            <mat-icon fontSet="iconfont"
                      fontIcon = "{{isMaximize?'icon-zuidahua':'icon-window-max-o'}}">
            </mat-icon>
        </button>

        <button id="btn-win-close" mat-icon-button (click)="windowClose()" title="关闭">
            <mat-icon fontSet="iconfont" fontIcon = "icon-guanbi"></mat-icon>
        </button>
    </div>
</div>



<div style="text-align:center">
  <app-test-tree></app-test-tree>
</div>

